--- 
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';  
---

<Nav/>

<Layout>
    <h1>Contacto</h1>
    <p>¡Gracias por visitar nuestra página de contacto! Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto con nosotros.</p>
    <section>
        <h2>Información de Contacto</h2>
        <p>Correo Electrónico:
            <a href="mailto:" class="email">
        </a>
        </p>
        <p>Teléfono: <a href="tel:">+34 123 456 789</a></p>
    </section>
</Layout>





